.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.content {
  padding: 1rem;
}

.full-width {
  width: 100%;
}

.margin-1 {
  margin: 1rem;
}

.padding-1 {
  padding: 1rem;
}

.fully-flex-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
