.header-menu {
  width: 100%;

  text-align: right;

  &__link {
    border: 3px solid transparent;
    color: var(--gray);
    margin-left: 2rem;
    padding: 1rem 0;

    &:hover {
      color: var(--white);
    }

    &--active {
      border-bottom: 3px solid var(--white);
    }
  }
}
